@charset "utf-8";

/* common */
.zetin-board { width: 100%; }
.zetin-board a { color: inherit; text-decoration: none; }
.zetin-board a:hover { text-decoration: underline; }
.zetin-board svg { vertical-align: middle; margin-top: -2px; }
.zetin-board .act-btn { background-color: #222; color: white; border: none; border-radius: 4px; cursor: pointer; transition: background-color 0.2s; }
.zetin-board .act-btn:hover { background-color: #333; }

/* board header */
.zetin-board .board-header { position: relative; margin-bottom: 12px; }
.zetin-board .board-header .board-title { font-size: 28px; font-weight: 600; border-left: 6px solid #222; border-radius: 5px; padding: 0 8px; margin-bottom: 12px; }
.zetin-board .board-header .board-comment { font-size: 15px; }
.zetin-board .board-header .board-search { position: absolute; bottom: 0px; right: 0px; background-color: #fff; }
.zetin-board .board-header .board-search > * { height: 28px; box-sizing: border-box; margin-left: 2px; font-family: inherit; vertical-align: middle; }
.zetin-board .board-header .board-search-btn { padding: 0 12px; }
.zetin-board .board-header .board-search-icon { display: none; }

/* board list */
.zetin-board table.board-list { width: 100%; font-size: inherit; font-family: inherit; border-spacing: 0px; text-align: center; }

/* board list header */
.zetin-board table.board-list th { padding: 8px; background-color: #333; color: #fff; white-space: nowrap; }
.zetin-board table.board-list th:first-child { border-radius: 8px 0px 0px 0px; }
.zetin-board table.board-list th:last-child { border-radius: 0px 8px 0px 0px; }

/* board list items */
.zetin-board table.board-list td { padding: 6px; color: #222; }
.zetin-board table.board-list tr:nth-child(even) { background-color: #f2f2f2; }
.zetin-board table.board-list .col-title { text-align: left; margin-left: 16px; }
.zetin-board table.board-list .col-author { text-align: left; }
.zetin-board table.board-list .replyNum { color: #FB8C00; }
.zetin-board table.board-list .pre-icon { display: none; }

/* board info */
.zetin-board .board-info { text-align: center; }

/* list footer */
.zetin-board .board-list-footer { width: 100%; margin-top: 24px; }
.zetin-board .board-write-btn { text-align: right; margin-bottom: 12px; }
.zetin-board .pagination { text-align: center; }
.zetin-board .pagination > * { display: inline-block; margin: 0 4px; cursor: pointer; }
.zetin-board .pagination .page-num a { font-size: 14px; padding: 0px 4px; }
.zetin-board .pagination .page-num a:hover { text-decoration: underline; }
.zetin-board .pagination .page-num a.page-curr { font-weight: bold; border-bottom: 4px solid #222; }

/* board footer */
.zetin-board .board-footer { clear: both; margin-top: 24px; }

@media screen and (max-width: 720px) {
    .zetin-board .board-header { margin: 0; padding: 0; }
    .zetin-board .board-header .board-title { display: block; color: #fff; text-align: center; border: none; font-size: 16px; font-weight: bold; background-color: #333; width: 100%; margin: 0; padding: 12px 0px; border-radius: 12px 12px 0px 0px; }
    .zetin-board .board-header .board-comment { display: none; }
    .zetin-board .board-header .board-search { display: none; position: static; text-align: right; padding: 8px 0px; background-color: #f2f2f2;}
    .zetin-board .board-header .board-search-icon { display: block; position: absolute; top: 16px; right: 8px; fill: #fff; }

    /* board list mobile css */
    .zetin-board table.board-list { display: block; }
    .zetin-board table.board-list thead { display: none; }
    .zetin-board table.board-list tbody { display: block; }
    .zetin-board table.board-list tr { display: block; text-align: left; line-height: 1.5; padding: 8px 12px; }
    .zetin-board table.board-list td { display: inline-block; padding: 0; font-size: 12px; color: #555; padding-right: 8px; }
    
    .zetin-board table.board-list .pre-icon { display: inline-block; }
    .zetin-board table.board-list .col-title { display: block; margin: 0; font-size: 14px; color: #222; }
    .zetin-board table.board-list .col-idx { display: none; }
    .zetin-board table.board-list .col-notice { display: block !important; margin: 1px 0px 0px 0px; float: left; }
}