.latest-comment-zetin { width: 100%; }
.latest-comment-zetin a { text-decoration: none; color: inherit; }
.latest-comment-zetin a:hover { text-decoration: underline; }
.latest-comment-zetin ul { margin: 0; padding: 0; }
.latest-comment-zetin li { display: block; width: 100%; padding: 6px; margin: 0; list-style: none; box-sizing: border-box;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.latest-comment-zetin li:nth-child(even) { background-color: #f2f2f2; }
.latest-comment-zetin .tag { background-color: #777; color: #fff; border-radius: 4px; padding: 1px 4px; cursor: default; }